<html lang="en">
\  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="All the tools you need to automatically install and configure Modding-OpenMW.com mod lists in one package">
    <meta name="author" content="MOMW Configurator Authors">
    <meta property="og:site_name" content="MOMW Configurator" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://modding-openmw.gitlab.io/momw-tools-pack/">
    <meta property="og:title" content="MOMW Configurator">
    <meta property="og:description" content="All the tools you need to automatically install and configure Modding-OpenMW.com mod lists in one package">
    <meta property="og:image" content="https://modding-openmw.gitlab.io/momw-tools-pack/img/title.png">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/sakura.css">
    <link rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)" href="/css/sakura-dark.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" media="(prefers-color-scheme: dark)" href="/css/site-dark.css">
  </head>
  <body>
    <div id="package-names" data-linux="momw-tools-pack-linux.tar.gz" data-macos="momw-tools-pack-macos.zip" data-windows="momw-tools-pack-windows.zip"></div>
    <div class="center"><img src="/img/title.png" title="MOMW Configurator" /></div>
    <noscript>
      <p class="bold center">
        Please enable Javascript for this page, Gitlab itself also requires Javascript in order to even look at packages. Sorry :(
      </p>
    </noscript>
    <p class="center">Latest version: <span class="bold" id="latestVersion">...</span></p>
    <div id="links" class="bold center">
      <a class="button" id="download-linux" title="Download the latest release of MOMW Tools Pack">Linux</a>
      <a class="button" id="download-macos" title="Download the latest release of MOMW Tools Pack">macOS</a>
      <a class="button" id="download-windows" title="Download the latest release of MOMW Tools Pack">Windows</a>
    </div>
    <div class="center" id="dev-build">
      <p class="bold">
        Dev Build Downloads:
      </p>
      <a href="https://gitlab.com/api/v4/projects/modding-openmw%2Fmomw-tools-pack/jobs/artifacts/master/raw/momw-tools-pack-linux.tar.gz?job=make" title="Dev builds may have newer features, but they will be less tested">Linux</a> | <a href="https://gitlab.com/api/v4/projects/modding-openmw%2Fmomw-tools-pack/jobs/artifacts/master/raw/momw-tools-pack-macos.zip?job=make" title="Dev builds may have newer features, but they will be less tested">macOS</a> | <a href="https://gitlab.com/api/v4/projects/modding-openmw%2Fmomw-tools-pack/jobs/artifacts/master/raw/momw-tools-pack-windows.zip?job=make" title="Dev builds may have newer features, but they will be less tested">Windows</a>
    </div>
    <nav class="center" id="nav">
      <a href="/">README</a> | <a href="/changelog/">Changelog</a>
    </nav>
    <div class="center" id="gitlab-links" title="These are external links that will take you to GitLab.">
      <a href="https://gitlab.com/modding-openmw/momw-tools-pack/activity">Activity</a> | <a href="https://gitlab.com/modding-openmw/momw-tools-pack/-/issues">Report A Bug</a>
    </div>
    <div id="content"></div>
    <footer style="text-align: center;">
      <a href="https://stats.gitlab.modding-openmw.com/"><img src="/img/goat_counter.png" title="Stats by GoatCounter."></a>
      <a href="https://soupault.app/"><img src="/img/powered_by_soupault_88x31.png" title="This website is built using soupault"></a>
    </footer>
    <div id="modOrg" data-mod-org="modding-openmw"></div>
    <div id="modProject" data-mod-project="momw-tools-pack"></div>
    <script src="/js/gitlab.js"></script>
  </body>
</html>
